
/* #EBB700 
     #09CB1D
     #36C8E8
     #C10E0E
     #282828
     #808080
     #D9D9D9
          */


body {
  color: #fff;
  min-height: 100%;
  text-align: center;
  align-content: center;
 
}



form {
  border: 3px solid #f1f1f1;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: -2000px;
  
}

input[type=text], input[type=password] {
  flex-direction: column;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.imgLogo {
  text-align: center;
  margin: 24px 0 12px 0
}

.container {
  padding: 50px;
  box-sizing: border-box;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.senha {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

